nav{
  font-family: Inter;
  width: 100%;
  background-color: transparent;
  color: rgba(0, 0, 0, 0); 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-bar{
background-color: #0E1212;
position: fixed;
right: 0;
width: 0%;
height: 100%;
margin-left: auto; 
margin-right: 0px;
overflow-x: hidden;
transition: 0.3s;
}

@media screen and (max-height: 450px) {
  .nav-bar {padding-top: 15px;}
  .a {font-size: 18px;}
}
