<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.google.com/specimen/Inter">
    <link rel="stylesheet" href="../styles/body.css">
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="../styles/header.css">
    <script defer src="../js/main.js"></script>
    <title>devon leigh</title>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="topleft-name"><a href="index.html">devon <span class="header-lname">leigh</span></a></div>
            <div class="menu-btn">
                <div class="menu-btn_burger"></div>
                <div id="nav-bar" class="nav-bar">
                    <nav>
                        <ul>
                            <li><a href="resume.html">resume</a></li>
                            <li><a href="portfolio.html">portfolio</a></li>
                            <li><a href="https://linkedin.com/in/devonleigh"><svg version="1.1" id="linked-in"
                                        xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="25" height="25"
                                        viewBox="0 0 175 175" style="enable-background:new 0 0 175 175"
                                        xml:space="preserve">
                                        <style>
                                            .st1 {
                                                fill: #fff
                                            }
                                        </style>
                                        <path id="XMLID_1_"
                                            d="M173 157.2c0 9.6-7.8 17.4-17.3 17.4H18.4c-9.6 0-17.3-7.8-17.3-17.4V18C1 8.4 8.8.6 18.4.6h137.3C165.3.6 173 8.4 173 18v139.2z"
                                            fill="#58595b" />
                                        <g id="XMLID_2_">
                                            <path id="XMLID_3_" class="st1"
                                                d="M57 43.1c0 6.4-4.7 11.6-12.5 11.6-7.3 0-12-5.2-12-11.6 0-6.5 4.9-11.6 12.3-11.6 7.5.1 12 5.1 12.2 11.6zm-23.9 95.1V63.8h23.1v74.4H33.1z" />
                                            <path id="XMLID_6_" class="st1"
                                                d="M70.1 87.6c0-9.3-.3-17-.6-23.7h20.1l1.1 10.3h.5c3-4.9 10.5-12 23-12 15.2 0 26.6 10.2 26.6 32.1v44h-23.1V97c0-9.6-3.3-16.1-11.7-16.1-6.4 0-10.2 4.4-11.9 8.7-.6 1.5-.8 3.7-.8 5.8v42.9H70.1V87.6z" />
                                        </g>
                                    </svg></a></li>
                            <li><a href="https://github.com/DevonWL"><svg version="1.1" id="Layer_1"
                                        xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="26" height="26" viewBox="0 0 175 175"
                                        style="enable-background:new 0 0 175 175" xml:space="preserve">
                                        <style>
                                            .st1 {
                                                fill: #191717
                                            }
                                        </style>
                                        <g id="XMLID_2_">
                                            <path id="XMLID_24_"
                                                d="M87.6.3c-47.5 0-86 39.9-86 89.2 0 39.4 24.6 72.8 58.8 84.6 4.3.8 5.9-1.9 5.9-4.3 0-2.1-.1-9.2-.1-16.6-23.9 5.4-29-10.5-29-10.5-3.9-10.3-9.5-13-9.5-13-7.8-5.5.6-5.4.6-5.4 8.6.6 13.2 9.2 13.2 9.2 7.7 13.6 20.1 9.7 25 7.4.8-5.8 3-9.7 5.5-11.9-19.1-2.3-39.2-9.9-39.2-44.1 0-9.7 3.4-17.7 8.9-23.9-.9-2.2-3.8-11.3.8-23.6 0 0 7.2-2.4 23.6 9.1 6.9-2 14.2-3 21.5-3 7.3 0 14.7 1 21.5 3 16.4-11.5 23.6-9.1 23.6-9.1 4.7 12.3 1.7 21.4.8 23.6 5.5 6.2 8.8 14.2 8.8 23.9 0 34.3-20.1 41.8-39.3 44 3.1 2.8 5.8 8.2 5.8 16.5 0 11.9-.1 21.5-.1 24.5 0 2.4 1.5 5.2 5.9 4.3 34.1-11.8 58.7-45.2 58.7-84.6C173.6 40.3 135.1.3 87.6.3z"
                                                fill = "#58595b" />
                                            <path id="XMLID_21_" class="st1"
                                                d="M34.2 128.4c-.2.4-.9.6-1.5.3s-1-.9-.8-1.3c.2-.5.9-.6 1.5-.3.7.2 1 .9.8 1.3zm-1.1-.8" />
                                            <path id="XMLID_18_" class="st1"
                                                d="M37.7 132.4c-.4.4-1.2.2-1.8-.4-.6-.6-.7-1.5-.3-1.9.4-.4 1.2-.2 1.8.4.6.7.7 1.5.3 1.9zm-.8-.9" />
                                            <path id="XMLID_15_" class="st1"
                                                d="M41.1 137.6c-.5.4-1.4 0-1.9-.8s-.5-1.7 0-2.1c.5-.4 1.4 0 1.9.7.5.8.5 1.8 0 2.2zm0 0" />
                                            <path id="XMLID_12_" class="st1"
                                                d="M45.7 142.5c-.5.5-1.5.4-2.2-.3-.8-.7-1-1.7-.5-2.3.5-.5 1.5-.4 2.2.3.8.8 1 1.8.5 2.3zm0 0" />
                                            <path id="XMLID_9_" class="st1"
                                                d="M52.1 145.4c-.2.7-1.2 1-2.1.7-1-.3-1.6-1.1-1.4-1.8.2-.7 1.2-1 2.2-.7.9.3 1.5 1.1 1.3 1.8zm0 0" />
                                            <path id="XMLID_6_" class="st1"
                                                d="M59.2 145.9c0 .7-.8 1.3-1.8 1.4-1 0-1.9-.6-1.9-1.3 0-.7.8-1.3 1.8-1.4 1 0 1.9.6 1.9 1.3zm0 0" />
                                            <path id="XMLID_3_" class="st1"
                                                d="M65.7 144.8c.1.7-.6 1.5-1.6 1.7-1 .2-1.9-.3-2-1-.1-.7.6-1.5 1.6-1.7 1-.2 1.9.3 2 1zm0 0" />
                                        </g>
                                    </svg></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        </div>
    </header>



    <div class="main-content">
        <div class="info-text"></div>
    </div>

    </div>

    </div>


</body>

</html>